<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>KaladriusTrainer</Name>
    <Version>0.2.1</Version>
    <Title>KaladriusTrainer Installer</Title>
    <Publisher>FromtonRouge</Publisher>
    <StartMenuDir>KaladriusTrainer</StartMenuDir>
    <TargetDir>@ApplicationsDirX64@/KaladriusTrainer</TargetDir>
</Installer>
